
.nav-link{
    color:white;
}

h2{ 
    font-weight:400;
    color:white;
}
nav{
padding:.4rem;
background-color:#0E185F;
display:flex;
align-items:center;
justify-content:space-between;

}

a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-size: large ;

    
  
  }
a:hover{
    color:aqua;
    
}

.logo{
width: 4rem;
padding-left: 1rem;
}